.friend-list__item {
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 5px 0px rgba(66, 68, 90, 1);
  padding: 7px 7pc 7px 0;
  background-color: white;
}
.friend-list__status{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 15px;
}
.friend-list__avatar {
  background-color: rgb(226, 225, 225);
  border-radius: 5px;
  margin-right: 10px;
  width: 60px;
}