.statistics {
  height: 100%;
  width: 300px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #010101;
  background-color: white;
}
.title {
  padding: 20px;
}
.stat-list {
  display: flex;
  width: 100%;
}
.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}